@import "../../../../_variables.scss";

#card-element {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

  &:focus, &:active, &:hover {
    color: $text-dark;
    background-color: #fff;
    border-color: $purple-light;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $purple-light;
  }
}

