<ng-template #myModal let-modalRef="modalRef">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Efectuare plată</h4>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center mt-2" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Se incarcă...</span>
      </div>
    </div>
    <form *ngIf="!isLoading" [formGroup]="paymentForm" (submit)="handleSubmit()">
      <div class="form-outline mb-3 text-start">
        <label class="form-label ms-2" for="amount">Sumă</label>
        <input type="text" id="amount" formControlName="amountInput" class="form-control" [(ngModel)]="amount"/>
      </div>
      <div class="text-start">
        <label class="ms-2 mb-2">Informații card</label>
        <div id="card-element" *ngIf="stripe"></div>
      </div>
      <div id="card-errors" role="alert"></div>
      <button type="submit" class="btn btn-primary text-light mt-3" [disabled]="status == 'success' || isPaymentLoading">
        Efectuează plata
      </button>
      <div class="d-flex justify-content-center mt-2" *ngIf="isPaymentLoading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Se incarca...</span>
        </div>
      </div>
      <div class="success" *ngIf="status == 'success'">
        <span class="fw-semibold text-success">Plata s-a efectuat cu succes</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" fw-bold class="bi bi-check-lg"
             viewBox="0 0 16 16">
          <path
            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
        </svg>
      </div>
      <div *ngIf="errors" class="text-danger">
        {{errors}}
      </div>
    </form>
  </div>
</ng-template>


<div class="container pb-4">
  <div class="row justify-content-center">
    <h2 class="text-light heading-section mt-4">Listă plăți</h2>
  </div>

  <section class="container my-4">
    <div class="itemsContainer text-dark row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class=" table table-responsive-xl">
            <thead>
            <tr>
              <th></th>
              <th>Plată pentru</th>
              <th>Sumă restantă</th>
              <th>Sumă actuală</th>
              <th>Total sumă</th>
              <th>Rămas de plată</th>
              <th>Luna</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of paymentList | async " class="alert" role="alert">
              <td><img class="img" [src]="payment.child.picturePath" alt="Child Picture"></td>
              <td class="">
                {{payment.child.firstName}}<br>{{payment.child.lastName}}
              </td>
              <td>{{payment.outstandingAmount}} RON</td>
              <td>{{payment.currentAmount}} RON</td>
              <td>{{payment.totalAmount}} RON</td>
              <td>{{payment.totalUnpaidAmount}} RON</td>
              <td>{{payment.month | previousMonth}}</td>
              <td>

                <div [ngClass]="payment.status.toLowerCase()" *ngIf="payment.status.valueOf() == 'UNPAID' && payment.month == currentMonthValue">
                  <button (click)="openModal(myModal, payment.totalUnpaidAmount, payment.id, payment.child)"
                          class="btn btn-success btn-block" [disabled]="payment.status.valueOf() != 'UNPAID'">Plătește
                    <br>{{payment.totalUnpaidAmount}} RON
                  </button>
                </div>
                <div [ngClass]="payment.status.toLowerCase()" *ngIf="payment.status.valueOf() != 'UNPAID'"
                     class="fw-semibold fs-5">
                  <span class="text-success">Plătită</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" fw-bold
                       class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                      d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                  </svg>
                </div>
                <div [ngClass]="payment.status.toLowerCase()" *ngIf="payment.status.valueOf() == 'UNPAID' && payment.month != currentMonthValue"
                     class="fw-normal fs-6">
                  <span class="text-dark">Restantă în luna următoare</span>
                </div>
              </td>
              <td><a class="text-dark confirmationLink" *ngFor="let confirmation of getConfirmationForPayment(payment.id!)" href="{{confirmation.path}}" target="_blank">Chitanța{{confirmation.id}}<br></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
