<section class="mt-4 pb-4 container">
  <div class="row justify-content-center">
    <h2 class="heading-section text-light">Listă copii înscriși</h2>
  </div>

  <section class="mt-4 text-start text-light row mx-1">
    <div class="col-6 mb-3  d-flex justify-content-between">
      <div class="form-group mb-3">
        <label for="group" class="form-label ms-2">Grupă</label>
        <select id="group" class="form-control" (change)="handleGroupChange($event)">
          <option selected value="0">Toate</option>
          <option *ngFor="let group of groupList" [value]="group.id">{{group.name}} ({{group.groupType | groupType}})</option>
        </select>
      </div>
    </div>

    <div class="col-6 my-4 ">
      <div class="addButtonContainer d-flex justify-content-end">
        <a class="btn btn-primary text-light text-center" routerLink="/admin/children/add">
          Adăugare copil
        </a>
      </div>
    </div>
  </section>



  <form [formGroup]="searchForm">
    <div class="form-outline mb-3">
      <input type="text" formControlName="search" placeholder="Caută..." class="form-control" (input)="updatePaginationAndFiltering()"/>
    </div>
  </form>

  <div class="itemsContainer text-dark row pb-4">
    <div class="col-md-12">
      <div class="table-wrap">
        <h5 *ngIf="paginatedChildrenList.length == 0" class="text-light">Nu a
          fost găsit niciun copil</h5>
        <table *ngIf="paginatedChildrenList.length > 0"
               class=" table table-responsive-xl fw-semibold">
          <thead>
          <tr>
            <th></th>
            <th>
              CNP
<!--              <svg *ngIf="getSortingIcon('cnp') == 'down'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
<!--                   fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
<!--              <svg *ngIf="getSortingIcon('cnp') == 'up'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
<!--                   fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
            </th>
            <th (click)="sortAsc = !sortAsc; updatePaginationAndFiltering()">
              Nume
              <i *ngIf="this.sortAsc" class="bi bi-sort-alpha-down"></i>
              <i *ngIf="!this.sortAsc" class="bi bi-sort-alpha-up"></i>
            </th>
            <th >
              Vârsta
<!--              <svg *ngIf="getSortingIcon('dateOfBirth') == 'down'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
<!--              <svg *ngIf="getSortingIcon('dateOfBirth') == 'up'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16"-->
<!--                   fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
            </th>
            <th >
              Grupă
<!--              <svg *ngIf="getSortingIcon('group.name') == 'down'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
<!--              <svg *ngIf="getSortingIcon('group.name') == 'up'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16"-->
<!--                   fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
            </th>
            <th>
              Persoană contact
<!--              <svg *ngIf="getSortingIcon('parent.firstName') == 'down'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
<!--              <svg *ngIf="getSortingIcon('parent.firstName') == 'up'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16"-->
<!--                   fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
            </th>
            <th>
              Telefon contact
<!--              <svg *ngIf="getSortingIcon('parent.phoneNumber') == 'down'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
<!--              <svg *ngIf="getSortingIcon('parent.phoneNumber') == 'up'" xmlns="http://www.w3.org/2000/svg" width="16"-->
<!--                   height="16"-->
<!--                   fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                  d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>-->
<!--              </svg>-->
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let child of paginatedChildrenList">
<!--          <tr-->
<!--            *ngFor="let child of paginatedChildrenList">-->
            <td><img class="img" [src]="child.picturePath" alt="Child Picture"></td>
            <td>{{child.cnp}}</td>
            <td>{{child.lastName + ' ' + child.firstName}}</td>
            <td>{{child.dateOfBirth | computeAge}} ani</td>
            <td>{{child.group.name}}</td>
            <td>{{child.parent!.firstName + ' ' + child.parent!.lastName}}</td>
            <td>{{child.parent!.phoneNumber}}</td>
            <td><a class="text-dark" [routerLink]="['/admin/children', child.cnp]" title="Editare">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="pagination d-flex justify-content-center" *ngIf="paginatedChildrenList.length > 0">
          <button class="btn btn-primary text-light mx-1" (click)="goToPage( 1)" [disabled]="currentPage === 1">
            <i class="bi bi-chevron-double-left"></i>
          </button>
          <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage + 1)" [disabled]="currentPage > totalPages">
            <i class="bi bi-chevron-right"></i>
          </button>
          <button class="btn btn-primary text-light mx-1" (click)="goToPage(totalPages)" [disabled]="currentPage > totalPages">
            <i class="bi bi-chevron-double-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
