@import "../../../_variables.scss";

:host {
  //height: 100%;
  background-color: $white !important;
  display: block;
  height: 100%;
  //height: fit-content;
  //min-height: calc(100% - 96px);
}

.container {
  padding-top: 40px;
}

#password {
  border-right: 0;
  &:focus {
    outline: 0;
  }
}

.input-group-text {
  background-color: white;
  &:hover {
    cursor: pointer;
  }
  &.focus {
    box-shadow: 0.1rem 0 0 $purple-light, 0 -0.1rem 0 $purple-light, 0 0.1rem 0 $purple-light;
  }
}

.form-control:focus {
  &#password {
    border-right: 0;
    outline: 0;
    box-shadow: -0.1rem 0 0 $purple-light, 0 -0.1rem 0 $purple-light, 0 0.1rem 0 $purple-light;
}}

