@import "../../../_variables.scss";

:host {
  display: block;
  height: 100%;
  background: rgb(47,49,92);
  background: linear-gradient(180deg, rgba(47,49,92,1) 0%, rgba(196,197,213,1) 50%, rgba(47,49,92,1) 100%);
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

.container {
  padding-top: 40px;
}

#password {
  border-right: 0;
  &:focus {
    outline: 0;
  }
}

.input-group-text {
  background-color: white;
  &:hover {
    cursor: pointer;
  }
  &.focus {
    box-shadow: 0.1rem 0 0 $purple-light, 0 -0.1rem 0 $purple-light, 0 0.1rem 0 $purple-light;
  }
}

.form-control:focus {
  &#password {
    border-right: 0;
    outline: 0;
    box-shadow: -0.1rem 0 0 $purple-light, 0 -0.1rem 0 $purple-light, 0 0.1rem 0 $purple-light;
}}

.registerLink {
  color: $purple-secondary;
  &:hover {
    cursor: pointer;
    color: $purple-dark;
    font-weight: 500;
  }
}
