<section class="pb-4">
<div class="container mb-5 pt-lg-6 pb-4">
  <div class="row d-flex justify-content-center align-items-center h-10">
    <div class="col-12 col-md-8 col-lg-5 col-xl-4 ">
      <div class="card shadow-lg" style="border-radius: 1rem;">
        <div class="card-body px-3 px-sm-4 p-4 text-dark">

<!--          <img src="assets/images/logoDark2.png" class="w-50">-->
<!--          <img src="assets/images/logoTitleDark.png" class="w-100">-->
          <h3 class="mb-4 mt-2 text-dark text-center">Logare</h3>

          <form [formGroup]="loginAdminForm" (ngSubmit)="handleLogin()" class="text-start">
            <div class="form-outline mb-3">
              <label class="form-label" for="username">Nume utilizator</label>
              <input type="text" id="username" formControlName="username" class="form-control"/>
            </div>

            <div class="pass form-outline mb-2">
              <label class="form-label" for="password">Parolă</label>
              <div class="input-group mb-3">
                <input [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password"
                       (focus)="visibility.classList.add('focus')"
                       (focusout)="visibility.classList.remove('focus')"
                       class="form-control"/>
                <span class="input-group-text" #visibility (click)="hidePassword = !hidePassword">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-eye" viewBox="0 0 16 16" *ngIf="hidePassword">
                    <path
                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-eye-slash" viewBox="0 0 16 16" *ngIf="!hidePassword">
                    <path
                      d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                    <path
                      d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                    <path
                      d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </span>
              </div>
            </div>

            <div class="text-danger fw-semibold" *ngIf='errors && !isLoading'>{{errors}}</div>

            <div class="d-flex justify-content-center strong mt-4">
              <button type="submit" class="btn btn-primary btn-lg btn-block w-75 text-light" type="submit"
                      [disabled]="isLoading">Logare
              </button>
            </div>

            <div class="d-flex justify-content-center strong mt-4" *ngIf="role.toString() == 'PARENT'" [routerLink]="">
              <a class="registerLink" [routerLink]="['/register']">Nu ai încă un cont? Crează unul acum!</a>
            </div>

            <div class="d-flex justify-content-center mt-2" *ngIf="isLoading">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

