a {
  &.active-link {
    //text-decoration: underline;
    color: white;
    font-weight: 500;
    //border-radius: 10px;
    border-bottom: 1px solid #fff;
  }

  &:hover {
    font-weight: 500;
  }
}

.logoTitle {
  height: 80px;

  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.logoImage {
  height: 80px;

  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.navbar-brand {
  &:hover {
    cursor: pointer;
  }
}

.navbar-toggler {
  padding: 4px 8px;
  opacity: 1;
  outline: none;
  border: none;
  //box-shadow: none;

  &:active {
    color: white !important;
    font-weight: 500 !important;

  }
}

hr {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.custom-toggler:active .navbar-toggler-icon {
  font-weight: bold;
}
