<div *ngIf="showSuccessAlert" #successAlert class="alert alert-success fw-semibold" role="alert" style="border-radius: 0 0 5px 5px">
  {{updateMessage}}
  <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessAlert()" style="float: right;"></button>
</div>
<div *ngIf="showErrorAlert" class="alert alert-danger fw-semibold" role="alert" style="border-radius: 0 0 5px 5px" #errorAlert>
  {{updateMessage}}
  <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorAlert()" style="float: right;"></button>
</div>

<div class="container mb-5 mt-5 pb-5">
  <div class="d-flex justify-content-center mt-2" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row h-100" *ngIf="!isLoading">
    <div class="col-12 col-lg-12 ">
      <div class="card shadow-lg " style="border-radius: 1rem;">
        <div class="card-body px-3 px-sm-4 p-4 text-dark row">

          <h1 class="mb-4 text-dark">Editare cerere</h1>
          <div class=" text-start fw-semibold d-sm-flex">
            <p>Comentarii adaugate:</p>
            <p class=" ms-4 text-danger" *ngIf="comments">{{ comments }}</p>
            <p class="ms-4 text-dark" *ngIf="!comments">Niciun comentariu</p>
          </div>
          <hr>
          <app-registration-request *ngIf="requestType==='registration' && isClosed == false" (submitEvent)="handleSubmitForm($event)"></app-registration-request>
          <app-extension-request *ngIf="requestType==='extension' && isClosed == false" (submitEvent)="handleSubmitForm($event)"></app-extension-request>

          <app-admin-registration-request *ngIf="requestType==='registration' && isClosed == true" [request]="registrationRequest"
                                          [isLoading]="isLoading"></app-admin-registration-request>
          <app-admin-extension-request *ngIf="requestType==='extension' && isClosed == true " [request]="extensionRequest"
                                       [isLoading]="isLoading" ></app-admin-extension-request>
        </div>
      </div>
    </div>
  </div>
</div>
