<div *ngIf="showSuccessAlert" #successAlert class="alert alert-success fw-semibold" role="alert"
     style="border-radius: 0 0 5px 5px">
  Notificarile s-au trimis cu succes
  <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessAlert()"
          style="float: right;"></button>
</div>

<div *ngIf="showErrorAlert" class="alert alert-danger fw-semibold" role="alert" style="border-radius: 0 0 5px 5px"
     #errorAlert>
  S-a produs o eroare, te rugăm încearcă mai târziu
  <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorAlert()" style="float: right;"></button>
</div>

<ng-template #myModal let-modalRef="modalRef">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Efectuare plata</h4>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="paymentForm" (submit)="handleSubmit()">
      <div class="form-outline mb-3 text-start">
        <label class="form-label ms-2" for="amount">Suma</label>
        <input type="text" id="amount" formControlName="amountInput" class="form-control" [(ngModel)]="amount"/>
      </div>
      <div class="form-outline mb-3 text-start">
        <label class="form-label ms-2" for="lastName">Nume de familie</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control"/>
      </div>
      <div class="form-outline mb-3 text-start">
        <label class="form-label ms-2" for="firstName">Prenume</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control"/>
      </div>
      <div id="card-errors" role="alert"></div>

      <div class="d-flex justify-content-center mt-2" *ngIf="isPaymentLoading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Se incarca...</span>
        </div>
      </div>

      <div class="success" *ngIf="status == 'success'">
        <span class="fw-semibold text-success mt-2">Plata s-a inregistrat cu succes</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" fw-bold class="bi bi-check-lg"
             viewBox="0 0 16 16">
          <path
            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
        </svg>
      </div>

      <div *ngIf="errors" class="text-danger">
        {{errors}}
      </div>

      <button type="submit" class="btn btn-primary text-light mt-3"
              [disabled]="status == 'success' || isPaymentLoading">
        Înregistrează plata
      </button>

    </form>
  </div>
</ng-template>

<div class="container pb-4">
  <div class="row justify-content-center">
    <h2 class="heading-section mt-4 text-light">Listă plăți</h2>
  </div>

  <section class="mt-4 text-start text-light row mx-1">
    <div class="col-6 mb-3  d-flex justify-content-between">
      <div class="form-group mb-3">
        <label for="group" class="form-label ms-2">Grupă</label>
        <select id="group" class="form-control" (change)="handleGroupChange($event)">
          <option *ngFor="let group of groupList" [value]="group.id">{{group.name}} ({{group.groupType | groupType}})
          </option>
          <option selected value="0">Toate</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="currentMonth" class="form-label ms-2">Lună</label>
        <input id="currentMonth" type="month" class="form-control" name="currentMonth" required="required"
               [value]="currentMonth | async" (change)="handleMonthChange($event)">
      </div>
    </div>

    <div class="col-6 my-4">
      <div class="addButtonContainer d-flex justify-content-end">
        <button class="btn btn-primary text-light text-center" (click)="sendPaymentsEmail()" [disabled]="isMailLoading">
          Trimitere mail plăți
        </button>

      </div>
      <div class="d-flex justify-content-end me-5 mt-2" *ngIf="isMailLoading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Se incarca...</span>
        </div>
      </div>
    </div>
  </section>


  <section class=" mb-5">
    <div class="d-flex justify-content-center text-white me-5 mt-2" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Se incarca...</span>
      </div>
    </div>
    <div class="itemsContainer text-dark row" *ngIf="!isLoading">
      <div class="col-md-12">
        <div class="table-wrap">
          <form [formGroup]="searchForm">
            <div class="form-outline mb-3">
              <input type="text" formControlName="search" placeholder="Caută..." class="form-control"
                     (input)="updatePagination()"/>
            </div>
          </form>

          <h5 *ngIf="paginatedPaymentsList.length == 0 && isLoading == false" class="text-light">Nu a
            fost găsită nicio plată</h5>

          <table class="table table-responsive-xl fw-semibold" *ngIf="paginatedPaymentsList.length > 0">
            <thead>
            <tr>
              <th></th>
              <th (click)="sortAsc = !sortAsc; updatePagination()">Plată pentru
                <i *ngIf="this.sortAsc" class="bi bi-sort-alpha-down"></i>
                <i *ngIf="!this.sortAsc" class="bi bi-sort-alpha-up"></i>
              </th>
              <th>Suma restantă</th>
              <th>Suma actuală</th>
              <th>Total sumă</th>
              <th>Rămas de plată</th>
              <th>Lună</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let payment of paginatedPaymentsList"
              class="alert" role="alert">
              <td><img class="img" [src]="payment.child.picturePath" alt="Child Picture"></td>
              <td class="">
                {{payment.child.lastName + ' ' + payment.child.firstName}}
              </td>
              <td>{{payment.outstandingAmount}} RON</td>
              <td>{{payment.currentAmount}} RON</td>
              <td>{{payment.totalAmount}} RON</td>
              <td>{{payment.totalUnpaidAmount}} RON</td>
              <td>{{payment.month | previousMonth}}</td>
              <td>
                <div [ngClass]="payment.status.toLowerCase()"
                     *ngIf="payment.status.valueOf() == 'UNPAID' && (currentDate | date: 'yyyy-MM') === currentMonthValue">
                  <button class="text-light btn btn-primary"
                          *ngIf="payment.status.valueOf() === 'UNPAID'"
                          [disabled]="(currentDate | date: 'yyyy-MM') !== currentMonthValue"
                          (click)="openModal(myModal, payment.totalUnpaidAmount, payment.id, payment.child)">
                    Efectuare plată
                  </button>
                </div>

                <div [ngClass]="payment.status.toLowerCase()" *ngIf="payment.status.valueOf() != 'UNPAID'"
                     class="fw-semibold fs-5">
                  <span class="text-success">Platită</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" fw-bold
                       class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path
                      d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                  </svg>
                </div>

                <div [ngClass]="payment.status.toLowerCase()"
                     *ngIf="payment.status.valueOf() == 'UNPAID' && (currentDate | date: 'yyyy-MM') !== currentMonthValue"
                     class=" fs-6">
                  <span class="text-dark">Restantă în luna următoare</span>
                </div>
              </td>
              <td><a class="text-dark confirmationLink"
                     *ngFor="let confirmation of getConfirmationForPayment(payment.id!)" href="{{confirmation.path}}"
                     target="_blank">Chitanța{{confirmation.id}}<br></a>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="pagination d-flex justify-content-center" *ngIf="paginatedPaymentsList.length > 0 ">
            <button class="btn btn-primary text-light mx-1" (click)="goToPage( 1)" [disabled]="currentPage === 1">
              <i class="bi bi-chevron-double-left"></i>
            </button>
            <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage - 1)"
                    [disabled]="currentPage === 1">
              <i class="bi bi-chevron-left"></i>
            </button>
            <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage + 1)"
                    [disabled]="currentPage >= totalPages">
              <i class="bi bi-chevron-right"></i>
            </button>
            <button class="btn btn-primary text-light mx-1" (click)="goToPage(totalPages)"
                    [disabled]="currentPage >= totalPages">
              <i class="bi bi-chevron-double-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
