<div *ngIf="showSuccessAlert" #successAlert class="alert alert-success fw-semibold" role="alert"
     style="border-radius: 0 0 5px 5px">
  Prezența a fost salvată cu succes
  <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessAlert()"
          style="float: right;"></button>
</div>

<div *ngIf="showErrorAlert" class="alert alert-danger fw-semibold" role="alert" style="border-radius: 0 0 5px 5px">
  S-a produs o eroare, te rugăm încearcă mai târziu
  <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorAlert()" style="float: right;"></button>
</div>

<section class="container pb-4">
  <div class="mb-5">
    <section class="mt-4 text-start text-light row mx-1">
      <div class="col-6 mb-3  d-flex justify-content-between">
        <div class="form-group mb-3">
          <label for="group" class="form-label ms-2">Grupă</label>
          <select id="group" class="form-control" (change)="handleGroupChange($event)">
            <option *ngFor="let group of groupList" [value]="group.id">{{group.name}} ({{group.groupType | groupType}}
              )
            </option>
            <option value="-1" selected>Toate</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="currentMonth" class="form-label ms-2">Lună</label>
          <input id="currentMonth" type="month" class="form-control" name="currentMonth"
                 required="required" [value]="currentMonth | async" (change)="handleMonthChange($event)">
        </div>
      </div>
    </section>

    <section class="mt-2">
      <div class="itemsContainer text-dark row">
        <div class="col-md-12">
          <div class="table-wrap">
            <h5 *ngIf="paginatedChildrenList.length == 0" class="text-light">Nu este niciun copil înscris în această grupă</h5>
            <table class=" table fw-semibold" *ngIf="paginatedChildrenList.length > 0 ">
              <thead>
              <tr class="centered">
                <th class="nameCell"></th>
                <th (click)="sortAsc = !sortAsc; updatePagination()" class="nameCell">
                  Nume
                  <i *ngIf="this.sortAsc" class="bi bi-sort-alpha-down"></i>
                  <i *ngIf="!this.sortAsc" class="bi bi-sort-alpha-up"></i>
                </th>
                <td *ngFor="let day of daysInMonth.getValue(); "
                    [ngClass]="{'bold': weekendDays.getValue().indexOf(day)==-1, 'current-day': currentDate.getDate() === day || weekendDays.getValue().indexOf(day)==-1 }">{{day}}</td>
                <th class="nameCell">Total prezențe</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let child of paginatedChildrenList" class="alert" role="alert">
                <td class="nameCell"><img class="img" [src]="child.picturePath" alt="Child Picture"></td>
                <!--              <td>{{child.firstName}}{{child.lastName}}</td>-->
                <td class="nameCell">{{child.lastName}}<br>{{child.firstName}}</td>
                <td *ngFor="let day of daysInMonth.getValue()"
                    [ngClass]="{'current-day': currentDate.getDate() === day && (currentDate | date: 'yyyy-MM') === currentMonthValue}">
                  <!--      <div class="attendance-cell" [class.present]="child.attendance[day]"></div>-->
                  <input type="checkbox" class="attendanceCheck"
                         [disabled]="weekendDays.getValue().indexOf(day)!=-1 || day !== currentDate.getDate() || (currentDate | date: 'yyyy-MM') !== currentMonthValue || getAttendanceForChildAndDate(child.cnp, day)"
                         [checked]="getAttendanceForChildAndDate(child.cnp, day) || checkTodayAttendance(child.cnp, day)"
                         (change)="handleAttendanceCheckboxChange($event, child.cnp, day)">
                </td>
                <td
                  *ngIf="totalAttendanceChild.getValue().get(child.cnp)">{{totalAttendanceChild.getValue().get(child.cnp)}}</td>
                <td *ngIf="!totalAttendanceChild.getValue().get(child.cnp)">0</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="pagination d-flex justify-content-center" *ngIf="paginatedChildrenList.length > 0 ">
        <button class="btn btn-primary text-light mx-1" (click)="goToPage( 1)" [disabled]="currentPage === 1">
          <i class="bi bi-chevron-double-left"></i>
        </button>
        <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages">
          <i class="bi bi-chevron-right"></i>
        </button>
        <button class="btn btn-primary text-light mx-1" (click)="goToPage(totalPages)" [disabled]="currentPage >= totalPages">
          <i class="bi bi-chevron-double-right"></i>
        </button>
      </div>

      <div class="row justify-content-end mt-2" *ngIf="paginatedChildrenList.length > 0 ">
        <div class="col-sm-3 addButtonContainer d-flex justify-content-end">
          <button class="btn btn-primary text-light text-center" (click)="handleSaveAttendances()" [disabled]="isLoading">
            Salvare prezențe
          </button>
        </div>
      </div>
    </section>

  </div>
</section>

