<div class="container mb-4">

  <section class="mt-4 text-start text-light row mx-1">
    <div class="col-6 mb-3  d-flex justify-content-between">
      <div class="form-group mb-3">
        <label for="group" class="form-label ms-2">Grupa</label>
        <select id="group" class="form-control" (change)="handleGroupChange($event)">
          <option selected disabled hidden>Alege grupa</option>
          <option *ngFor="let group of groupList" [value]="group.id">{{group.name}}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="currentMonth" class="form-label ms-2">Luna</label>
        <input id="currentMonth" type="month" class="form-control" name="currentMonth" required="required" [value]="currentMonth | async" (change)="handleMonthChange($event)" >
      </div>
    </div>
  </section>

  <section class="mt-2">
    <div class="itemsContainer text-dark row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class=" table">
            <thead>
            <tr class="centered">
              <th></th>
              <th>Nume</th>
              <td *ngFor="let day of daysInMonth.getValue(); "
                  [ngClass]="{'bold': weekendDays.getValue().indexOf(day)==-1, 'current-day': currentDate.getDate() === day || weekendDays.getValue().indexOf(day)==-1 }">{{day}}</td>
              <th>Total prezente</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let child of childrenList.getValue()" class="alert" role="alert">
              <td><img class="img" [src]="child.picturePath" alt="Child Picture"></td>
<!--              <td>{{child.firstName}}{{child.lastName}}</td>-->
              <td>{{child.firstName}}<br>{{child.lastName}}</td>
              <td *ngFor="let day of daysInMonth.getValue()" [ngClass]="{'current-day': currentDate.getDate() === day && (currentDate | date: 'yyyy-MM') === currentMonthValue}">
                <!--      <div class="attendance-cell" [class.present]="child.attendance[day]"></div>-->
                <input type="checkbox" class="attendanceCheck" [disabled]="weekendDays.getValue().indexOf(day)!=-1 || day !== currentDate.getDate() || (currentDate | date: 'yyyy-MM') !== currentMonthValue"
                       [checked]="getAttendanceForChildAndDate(child.cnp, day)"
                       (change)="handleAttendanceCheckboxChange($event, child.cnp, day)">
              </td>
              <td *ngIf="totalAttendanceChild.getValue().get(child.cnp)">{{totalAttendanceChild.getValue().get(child.cnp)}}</td>
              <td *ngIf="!totalAttendanceChild.getValue().get(child.cnp)">0</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mt-2 pb-4">
      <div class="col-sm-3 addButtonContainer d-flex justify-content-end">
        <button class="btn btn-primary text-light text-center" (click)="handleSaveAttendances()">
          Salvare prezente
        </button>
      </div>
    </div>
  </section>

</div>


