<section class="mt-4 pb-4 container">
  <div class="row justify-content-center">
    <h2 class="heading-section text-light">Listă educatoare</h2>
  </div>

  <div class="row justify-content-end mb-4 ">
    <div class="col-sm-3 addButtonContainer d-flex justify-content-end">
      <a class="btn btn-primary text-light text-center" routerLink="/admin/teachers/add">
        Adăugare educatoare
      </a>
    </div>
  </div>

  <div class="itemsContainer text-dark row pb-4">
    <div class="col-md-12">
      <div class="table-wrap">
        <table class=" table table-responsive-xl fw-semibold">
          <thead>
          <tr>
            <th></th>
            <th (click)="sortAsc = !sortAsc; updatePagination()">Nume
              <i *ngIf="this.sortAsc" class="bi bi-sort-alpha-down"></i>
              <i *ngIf="!this.sortAsc" class="bi bi-sort-alpha-up"></i>
            </th>
            <th>Descriere
            </th>
            <th>Grupă
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teacher of paginatedTeacherList" class="alert" role="alert">
            <td><img class="img" [src]="teacher.picturePath" alt="Teacher Picture"></td>
            <td >
              {{teacher.lastName}} <br>  {{teacher.firstName}}
            </td>
            <td><p class="description">{{teacher.description}}</p></td>
            <td>{{teacher.groupDto.name}}</td>
            <td><a class="text-dark" routerLink="/admin/teachers/{{teacher.id}}" title="Editare">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a></td>
          </tr>
          </tbody>
        </table>

        <div class="pagination d-flex justify-content-center" *ngIf="paginatedTeacherList.length > 0 ">
          <button class="btn btn-primary text-light mx-1" (click)="goToPage( 1)" [disabled]="currentPage === 1">
            <i class="bi bi-chevron-double-left"></i>
          </button>
          <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages">
            <i class="bi bi-chevron-right"></i>
          </button>
          <button class="btn btn-primary text-light mx-1" (click)="goToPage(totalPages)" [disabled]="currentPage >= totalPages">
            <i class="bi bi-chevron-double-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

