<section class="mt-4 pb-3 container">
  <div class="row justify-content-center">
    <h2 class="heading-section text-light">Lista educatoare</h2>
  </div>
  <div class="row justify-content-end mb-4 ">
    <div class="col-sm-3 addButtonContainer d-flex justify-content-end">
      <a class="btn btn-primary text-light text-center" routerLink="/admin/teachers/add">
        Adaugare educatoare
      </a>
    </div>
  </div>
  <div class="itemsContainer text-dark row">
    <div class="col-md-12">
      <div class="table-wrap">
        <table class=" table table-responsive-xl">
          <thead>
          <tr>
            <th></th>
            <th>Nume</th>
            <th>Descriere</th>
            <th>Grupa</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teacher of teacherList" class="alert" role="alert">
            <td><img class="img" [src]="teacher.picturePath" alt="Teacher Picture"></td>
            <td class="">
              {{teacher.firstName + ' ' + teacher.lastName}}
            </td>
            <td><p class="description">{{teacher.description}}</p></td>
            <td>{{teacher.groupDto.name}}</td>
            <td><a class="text-dark" routerLink="/admin/teachers/{{teacher.id}}">Editare</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

