<div *ngIf="showSuccessAlert" #successAlert class="alert alert-success fw-semibold" role="alert"
     style="border-radius: 0 0 5px 5px">
  {{updateMessage}}
  <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessAlert()"
          style="float: right;"></button>
</div>

<div *ngIf="showErrorAlert" class="alert alert-danger fw-semibold" role="alert" style="border-radius: 0 0 5px 5px"
     #errorAlert>
  S-a produs o eroare, te rugăm încearcă mai târziu
  <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorAlert()" style="float: right;"></button>
</div>

<ng-template #myModal let-modalRef="modalRef">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Confirmare {{statusTitle}}</h4>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div>
      <p>{{confirmationMessage}}</p>
    </div>
    <div class="d-flex justify-content-center mt-2" *ngIf="isLoadingStatus">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Vă rugăm aștepați...</span>
      </div>
    </div>
    <div *ngIf="!isLoadingStatus" class="text-success">{{statusMessage}}</div>
    <div *ngIf="!isLoadingStatus && statusError" class="text-danger">S-a produs o eroare, te rugăm încearcă mai târziu
    </div>
    <div class="d-flex justify-content-between strong mt-4">
      <button [disabled]="isLoadingStatus || isClosed" class="btn btn-success btn-lg btn-block text-light"
              (click)="updateStatus()">Da
      </button>
      <button [disabled]="isLoadingStatus || isClosed" class="btn btn-danger btn-lg btn-block text-light"
              (click)="closeModal()">Nu
      </button>
    </div>
  </div>
</ng-template>

<section class="mt-4 container pb-4">
  <div class="container mb-5 mt-5">
    <div class="d-flex justify-content-center mt-2" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="row h-100" *ngIf="!isLoading">
      <div class="col-12 col-lg-12 ">
        <div class="card shadow-lg " style="border-radius: 1rem;">
          <div class="card-body px-3 px-sm-4 p-4 text-dark row">

            <div class="mb-4">
              <div class="row">
                <div class="col-lg-8">
                  <h2 class="text-center text-lg-end text-dark">Vizualizare cerere</h2>
                </div>

                <div *ngIf="!isClosed" class="col-lg-4 d-flex justify-content-lg-end justify-content-center">
                  <button class="btn btn-success me-3" (click)="approveRequest()" [disabled]="isClosed">Aprobă
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                    </svg>
                  </button>

                  <button class="btn btn-danger" (click)="rejectRequest()" [disabled]="isClosed">Respinge
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                         class="bi bi-x-lg"
                         viewBox="0 0 16 16">
                      <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>


            <div *ngIf="!isClosed" class="form-group mb-3 text-start row">
              <label class="form-label ms-2 fw-bold">Status grupă</label>
              <br>
              <div class="col-md-6">
                <div class="d-flex">
                  <div class="infoPair">
                    <p class="infoKey">Nume:</p>
                    <p class="infoValue"
                       *ngIf="requestType==='registration'">{{registrationRequest.child.group.name}}</p>
                    <p class="infoValue" *ngIf="requestType==='extension'">{{extensionRequest.child.group.name}}</p>
                  </div>

                  <div class="infoPair">
                    <p class="infoKey">Tip:</p>
                    <p class="infoValue"
                       *ngIf="requestType==='registration'">{{registrationRequest.child.group.groupType | groupType}}</p>
                    <p class="infoValue"
                       *ngIf="requestType==='extension'">{{extensionRequest.child.group.groupType  | groupType}}</p>
                  </div>

                  <div class="infoPair">
                    <p class="infoKey">Capacitate totală:</p>
                    <p class="infoValue">{{groupSpots.availableCount}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex">
                  <div class="infoPair">
                    <p class="infoKey">Locuri ocupate:</p>
                    <p class="infoValue">{{groupSpots.unavailableCount}}</p>
                  </div>

                  <div class="infoPair">
                    <p class="infoKey">Locuri în așteptare:</p>
                    <p class="infoValue">{{groupSpots.pendingCount}}</p>
                  </div>

                  <div class="infoPair">
                    <p class="infoKey">Locuri libere:</p>
                    <p class="infoValue">{{groupSpots.availableCount - (groupSpots.unavailableCount + groupSpots.pendingCount)}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!isClosed  && !isLoadingStatus" class="text-start">
              <div class="form-group mb-3 text-start fw-bold" *ngIf="requestType==='registration'">
                <label class="form-label ms-2" for="commentsRegistration">Comentarii</label>
                <textarea class="form-control" id="commentsRegistration" rows="5"
                          [(ngModel)]="registrationRequest.comments" [disabled]="isClosed"></textarea>
              </div>
              <div class="form-group mb-3 text-start fw-bold" *ngIf="requestType==='extension'">
                <label class="form-label ms-2" for="commentsExtension">Comentarii</label>
                <textarea class="form-control" id="commentsExtension" rows="5"
                          [(ngModel)]="extensionRequest.comments" [disabled]="isClosed"></textarea>
              </div>
              <button class="ms-3 btn btn-primary text-light col-6 col-sm-3 col-lg-2" (click)="addComment()"
                      [disabled]="isClosed">Adaugă
              </button>
              <div class="d-flex justify-content-center mt-2" *ngIf="isLoadingUpdate">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Vă rugăm aștepați...</span>
                </div>
              </div>
              <hr class="mt-3">
            </div>

            <app-registration-request *ngIf="requestType==='registration'" [request]="registrationRequest"
                                      [isLoading]="isLoading"></app-registration-request>
            <app-extension-request *ngIf="requestType==='extension'" [request]="extensionRequest"
                                   [isLoading]="isLoading"></app-extension-request>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
