@import "../../../_variables.scss";

:host {
  display: block;
  height: 100%;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

.container {
  padding-top: 40px;
}

#password, #passwordRepeat {
  border-right: 0;
  &:focus {
    outline: 0;
  }
}

.input-group-text {
  background-color: white;
  &:hover {
    cursor: pointer;
  }
  &.focus {
    box-shadow: 0.1rem 0 0 $purple-light, 0 -0.1rem 0 $purple-light, 0 0.1rem 0 $purple-light;
  }
}

.form-control:focus {
  &#password, &#passwordRepeat {
    border-right: 0;
    outline: 0;
    box-shadow: -0.1rem 0 0 $purple-light, 0 -0.1rem 0 $purple-light, 0 0.1rem 0 $purple-light;
  }}

