<ng-template #myModal let-modalRef="modalRef">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Confirmare ștergere</h4>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div>
      <p>Ești sigur că dorești să ștergi anunțul?</p>
    </div>
    <div class="d-flex justify-content-center mt-2" *ngIf="isLoadingDelete">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Vă rugăm aștepați...</span>
      </div>
    </div>
    <div *ngIf="!isLoadingDelete" class="text-success">{{deleteMessage}}</div>
    <div *ngIf="!isLoadingDelete" class="text-danger">{{deleteError}}</div>
    <div class="d-flex justify-content-between strong mt-4">
      <button class="btn btn-success btn-lg btn-block text-light" (click)="deleteAnnouncement()">Da
      </button>
      <button class="btn btn-danger btn-lg btn-block text-light" (click)="closeModal()">Nu
      </button>
    </div>
  </div>
</ng-template>

<section class="light container pb-4">
  <div class="container pb-4">
    <h2 class="text-light heading-section my-4" id="pageHeaderTitle">Anunțuri</h2>

    <div class="row justify-content-end mb-4 " *ngIf="isAdminLoggedIn">
      <div class="col-sm-3 addButtonContainer d-flex justify-content-end">
        <a class="btn btn-primary text-light text-center" routerLink="/admin/announcements/add">
          Adăugare anunț
        </a>
      </div>
    </div>

    <h4 class="mt-5 text-light" *ngIf="paginatedAnnouncementsList.length === 0">Nu există niciun anunț momentan</h4>

    <article class="postcard" *ngFor="let announcement of paginatedAnnouncementsList">
      <a class="postcard_img_link">
        <img class="postcard_img" src="{{announcement.picturePath}}" alt="Image Title"/>
      </a>
      <div class="postcard_text t-dark">
        <h1 class="postcard_title blue mb-4 text-dark">{{announcement.title}}</h1>

        <div class="postcard_preview-txt" style="white-space: pre-line">{{announcement.description}}</div>
        <ul class="postcard_tagbox text-light" *ngIf="isAdminLoggedIn">
          <li class="tag_item" [routerLink]="['/admin/announcements/', announcement.id]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            Editare
          </li>
          <li class="tag_item" (click)="openModal(announcement)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                 viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>
            Ștergere
          </li>
        </ul>
      </div>
    </article>

    <div class="pagination d-flex justify-content-center" *ngIf="paginatedAnnouncementsList.length > 0 ">
      <button class="btn btn-primary text-light mx-1" (click)="goToPage( 1)" [disabled]="currentPage === 1">
        <i class="bi bi-chevron-double-left"></i>
      </button>
      <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
        <i class="bi bi-chevron-left"></i>
      </button>
      <button class="btn btn-primary text-light mx-1" (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages">
        <i class="bi bi-chevron-right"></i>
      </button>
      <button class="btn btn-primary text-light mx-1" (click)="goToPage(totalPages)" [disabled]="currentPage >= totalPages">
        <i class="bi bi-chevron-double-right"></i>
      </button>
    </div>
  </div>
</section>
