@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import '../../../../_variables.scss';

a, a:hover {
  text-decoration: none;
}

.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: $white;
  background-color: #e1e5ea;
  .t-dark {
    color: #18151f;
  }
  a {
    color: inherit;
  }
  .postcard_img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .postcard_img_link {
    display: contents;
  }
  .postcard_text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .postcard_preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }
  .postcard_tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    .tag_item {
      display: inline-block;
      background: darken($purple-light, 20%);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      user-select: none;
      transition: background-color 0.3s;
      cursor: pointer;
      &:hover {
        background: darken($purple-light, 35%);
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
  &:hover .postcard_bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
    .postcard_title {
      font-size: 2rem;
    }
    .postcard_tagbox {
      justify-content: start;
    }
    .postcard_img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }
    .postcard_text {
      padding: 3rem;
      width: 100%;
    }
    .media.postcard_text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }
    &:hover .postcard_img {
      transform: scale(1.1);
    }
    &:nth-child(2n+1) {
      flex-direction: row;
    }
    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }
    &:nth-child(2n+1) .postcard_text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }
    &:nth-child(2n+0) .postcard_text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media screen and (min-width: 1024px){
  .postcard_text {
    padding: 2rem 3.5rem;
  }
  .postcard_text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard {
    .postcard_text:before {
      background: #e1e5ea;
    }
  }
}

.postcard .postcard_tagbox .play:hover {
  background: $purple-light;
  color: black;
}

.postcard_bar {
  background-color: $purple-light;
}

.postcard::before {
  background-image: linear-gradient(
      -30deg,
      $purple-light,
      transparent 50%
  );
}

.postcard:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $purple-light, transparent 50%);
}

@media screen and (min-width: 769px) {
  .postcard::before {
    background-image: linear-gradient(
        -80deg,
        $purple-light,
        transparent 50%
    );
  }
  .postcard:nth-child(2n)::before {
    background-image: linear-gradient(
        80deg,
        $purple-light,
        transparent 50%
    );
  }
}

