@import "../../../../_variables.scss";

.t-p{
  background: $purple-light;
  border-radius: 0 0 10px 10px;
}
.accordion .item .item-header h5 button.btn.btn-link {
  background: $purple;
  color: $light;
  text-decoration: none;
  border-radius: 10px;
  &:hover, &:active {
    background: $purple-dark;
  }
  &.extended {
    background: $purple-dark;
    border-radius: 10px 10px 0 0;
  }
}
.accordion .item .item-header {
  border-bottom: none;
  background: transparent;
  padding: 0px;
}

.accordion .item .item-header h5 button {
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left;
}

.accordion .item .item-header h5 i {
  float: right;
  font-size: 30px;
  color: $light;
  background-color: transparent;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}

button.btn.btn-link.collapsed i {
  transform: rotate(0deg);
  transition: 0.5s;
}

button.btn.btn-link i {
  transform: rotate(180deg);
  transition: 0.5s;
}

.collapse {
  transition: height 0.3s ease;
}

.comments {
  font-weight: 500;
}
