<div class="d-flex justify-content-center mt-2" *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<form class="text-start row" *ngIf="!isLoading">
  <div class="col-12 col-sm-5">
    <fieldset class="border p-2 mt-4">
      <legend class="border-0 px-2 w-auto">Informații copil</legend>
      <div class="form-outline img-container mb-4 d-flex justify-content-center align-items-baseline">
        <img class="card-img-top" [src]="request.child.picturePath" alt="...">
      </div>
      <div class="form-outline mb-3">
        <label class="form-label ms-2" for="cnp">CNP</label>
        <input type="text" id="cnp" class="form-control" [value]="request.child.cnp" [disabled]="true"/>
      </div>
      <div class="form-outline mb-3">
        <label class="form-label ms-2" for="lastName">Nume de familie</label>
        <input type="text" id="lastName" class="form-control"
               [value]="request.child.lastName" [disabled]="true"/>
      </div>

      <div class="form-outline mb-3">
        <label class="form-label ms-2" for="firstName">Prenume</label>
        <input id="firstName"
               type="text"
               class="form-control"
               [value]="request.child.firstName" [disabled]="true"/>
      </div>

      <div class="form-group mb-3">
        <label for="dateOfBirth" class="form-label ms-2">Zi de naștere</label>
        <input id="dateOfBirth" type="date" class="form-control" name="dateOfBirth"
               required="required" [value]="request.child.dateOfBirth" [disabled]="true">
      </div>

      <div class="form-group mb-3">
        <label class="form-label ms-2" for="group">Grupă</label>
        <input id="group"
               type="text"
               class="form-control"
               [value]="request.child.group.name + ' (' + (request.child.group.groupType | groupType) + ' )'" [disabled]="true"/>
      </div>
    </fieldset>

    <fieldset class="border p-2 mt-4 documentsFieldset">
      <legend class="border-0 px-2 w-auto">Documentele necesare</legend>

      <button class="mb-3 mt-3 w-100 text-start" (click)="currentPdf = request.applicationForm"
              [class.active]="currentPdf == request.applicationForm">
        <span class="ms-2 position-relative" *ngIf="currentPdf == request.applicationForm">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-forward-fill"
                viewBox="0 0 16 16">
              <path
                d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
            </svg>
        </span>
        <label class="ms-1 text-dark">Cerere tip</label>
      </button>

    </fieldset>
  </div>
  <div class="col-sm-1"></div>
  <app-pdf-viewer [pdfSrc]="currentPdf" class="col-12 col-sm-6"></app-pdf-viewer>
</form>
