<section class="mt-4 container">
  <div class="row justify-content-center">
    <h2 class="text-light heading-section">Cereri depuse</h2>
  </div>
  <div class="row justify-content-end mb-4 ">
    <div class="col-sm-3 addButtonContainer d-flex justify-content-end">
      <a class="btn btn-primary text-light text-center" routerLink="/requests/add">
        Creare cerere
      </a>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="item mb-3" *ngFor="let request of extensionRequestList; let i = index">
      <div class="item-header" id="heading{{i}}">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse"
                  [ngClass]="request.isCollapsed ? 'collapsedTrue' : 'extended'"
                  [attr.data-target]="'#collapse' + i" aria-expanded="false"
                  [attr.aria-controls]="'collapse' + i" (click)="request.isCollapsed = !request.isCollapsed">
            Prelungire - {{ request.child.firstName }} {{request.child.lastName}} ({{request.status | requestStatus}})
            <svg *ngIf="request.status.toString() == 'APPROVED'" xmlns="http://www.w3.org/2000/svg" width="25"
                 height="25" fill="green" fw-bold class="bi bi-check-lg" viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg>
            <svg *ngIf="request.status.toString() == 'REJECTED'" xmlns="http://www.w3.org/2000/svg" width="25"
                 height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
            <img src="../../../../assets/images/wall-clock.png" width="25" height="25"
                 *ngIf="request.status.toString() == 'PENDING' || request.status.toString() == 'ONGOING'">
            <i class="fa fa-angle-down" *ngIf="!request.isCollapsed"></i>
            <i class="fa fa-angle-up" *ngIf="request.isCollapsed"></i>
          </button>
        </h5>
      </div>
      <div [id]="'collapse' + i" class="collapse" [ngClass]="{'show': !request.isCollapsed}"
           [attr.aria-labelledby]="'heading' + i" data-parent="#accordionExample">
        <div class="t-p px-5 py-3 text-start">
          <div class="comments ">
            <p *ngIf="request.comments">{{ request.comments }}</p>
            <p *ngIf="!request.comments">Niciun comentariu adaugat</p>
          </div>
          <button class="btn btn-primary text-light"
                  *ngIf="request.status.toString() == 'ONGOING' || request.status.toString() == 'PENDING'"
                  [routerLink]="['/requests', request.id]"
                  [queryParams]="{ type: 'extension', comments: request.comments}">Editare cerere
          </button>
          <button class="btn btn-primary text-light"
                  *ngIf="request.status.toString() == 'APPROVED' || request.status.toString() == 'REJECTED'"
                  [routerLink]="['/requests', request.id]"
                  [queryParams]="{ type: 'extension', comments: request.comments}">Vizualizare cerere
          </button>
        </div>
      </div>
    </div>

    <div class="item mb-3" *ngFor="let request of registrationRequestList; let i = index">
      <div class="item-header" id="heading{{i}}">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse"
                  [ngClass]="request.isCollapsed ? 'collapsedTrue' : 'extended'"
                  [attr.data-target]="'#collapse' + i" aria-expanded="false"
                  [attr.aria-controls]="'collapse' + i" (click)="request.isCollapsed = !request.isCollapsed">
            Înregistrare - {{ request.child.firstName }} {{request.child.lastName}} ({{request.status | requestStatus}})
            <svg *ngIf="request.status.toString() == 'APPROVED'" xmlns="http://www.w3.org/2000/svg" width="25"
                 height="25" fill="green" fw-bold class="bi bi-check-lg" viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg>
            <svg *ngIf="request.status.toString() == 'REJECTED'" xmlns="http://www.w3.org/2000/svg" width="25"
                 height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
            <img src="../../../../assets/images/wall-clock.png" width="25" height="25"
                 *ngIf="request.status.toString() == 'PENDING' || request.status.toString() == 'ONGOING'">
            <i class="fa fa-angle-down" *ngIf="!request.isCollapsed"></i>
            <i class="fa fa-angle-up" *ngIf="request.isCollapsed"></i>
          </button>
        </h5>
      </div>
      <div [id]="'collapse' + i" class="collapse" [ngClass]="{'show': !request.isCollapsed}"
           [attr.aria-labelledby]="'heading' + i" data-parent="#accordionExample">
        <div class="t-p px-5 py-3 text-start">
          <div class="comments ">
            <p *ngIf="request.comments">{{ request.comments }}</p>
            <p *ngIf="!request.comments">Niciun comentariu adaugat</p>
          </div>
          <button class="btn btn-primary text-light"
                  *ngIf="request.status.toString() == 'ONGOING' || request.status.toString() == 'PENDING'"
                  [routerLink]="['/requests', request.id]"
                  [queryParams]="{ type: 'registration', comments: request.comments}">Editare cerere
          </button>
          <button class="btn btn-primary text-light"
                  *ngIf="request.status.toString() == 'APPROVED' || request.status.toString() == 'REJECTED'"
                  [routerLink]="['/requests', request.id]"
                  [queryParams]="{ type: 'registration', comments: request.comments}">Vizualizare cerere
          </button>
        </div>
      </div>
    </div>

  </div>
</section>
