$purple: #3b3d73;
$purple-secondary: #353768;
$purple-dark: #2f315c;
$purple-light: #c4c5d5;

$light: #f9f6f1;
$light-medium: #fcfbf8;

$orange: #f19d38;
$orange-secondary: #e6840b;
$orange-light: #f5ba74;
$white: #fff;
$grey-light: #dcdbe0;
$grey-dark: #8f909d;
$pink: #fc6091;

//$text-dark: #18182e;
$text-dark: #393d72 !important;
$text-light: #fefdfd !important;
