@import "~bootstrap/dist/css/bootstrap.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  background-color: #f9f6f1 !important;
}

app-admin {
  display: block;
  height: fit-content;
  min-height: calc(100% - 112px);
}

@media only screen and (min-width: 1200px) {
  .pt-lg-6 {
    padding-top: 6rem !important;
  }
}
.bg-dark {
  background-color: #3b3d73 !important;
}

.bg-light {
  background-color: #f9f6f1 !important;
}

.bg-lighter {
  background-color: #fcfbf8 !important;
}

.text-light {
  color: #fefdfd !important;
}

.text-dark {
  color: #393d72 !important;
}

html {
  background-color: #f9f6f1;
}

.footer {
  position: static !important;
}

.btn-primary {
  --bs-btn-color: #f19d38;
  --bs-btn-bg: #f19d38;
  --bs-btn-border-color: #f19d38;
  --bs-btn-hover-color: #f19d38;
  --bs-btn-hover-bg: #e6840b;
  --bs-btn-hover-border-color: #e6840b;
  --bs-btn-active-color: #e6840b;
  --bs-btn-active-bg: #e6840b;
  --bs-btn-active-border-color: #e6840b;
  --bs-btn-disabled-color: #f5ba74;
  --bs-btn-disabled-bg: #f5ba74;
  --bs-btn-disabled-border-color: #f5ba74;
}

.btn-accept {
  --bs-btn-color: #f19d38;
  --bs-btn-bg: #f19d38;
  --bs-btn-border-color: #f19d38;
  --bs-btn-hover-color: #f19d38;
  --bs-btn-hover-bg: #e6840b;
  --bs-btn-hover-border-color: #e6840b;
  --bs-btn-active-color: #e6840b;
  --bs-btn-active-bg: #e6840b;
  --bs-btn-active-border-color: #e6840b;
  --bs-btn-disabled-color: #f5ba74;
  --bs-btn-disabled-bg: #f5ba74;
  --bs-btn-disabled-border-color: #f5ba74;
}

.btn-cancel {
  --bs-btn-color: #f19d38;
  --bs-btn-bg: #f19d38;
  --bs-btn-border-color: #f19d38;
  --bs-btn-hover-color: #f19d38;
  --bs-btn-hover-bg: #e6840b;
  --bs-btn-hover-border-color: #e6840b;
  --bs-btn-active-color: #e6840b;
  --bs-btn-active-bg: #e6840b;
  --bs-btn-active-border-color: #e6840b;
  --bs-btn-disabled-color: #f5ba74;
  --bs-btn-disabled-bg: #f5ba74;
  --bs-btn-disabled-border-color: #f5ba74;
}

btn:focus, a:focus {
  outline: none;
}

.form-control:focus, input:-internal-autofill-selected {
  color: #393d72 !important;
  background-color: #fff;
  border-color: #c4c5d5;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #c4c5d5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #393d72 !important !important;
}

.itemsContainer .stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
.itemsContainer .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.itemsContainer .media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.itemsContainer a {
  transition: 0.3s all ease;
}
.itemsContainer a:hover, .itemsContainer a:focus {
  color: #2f315c;
}
.itemsContainer .ftco-section {
  padding: 7em 0;
}
.itemsContainer .ftco-no-pt {
  padding-top: 0;
}
.itemsContainer .ftco-no-pb {
  padding-bottom: 0;
}
.itemsContainer .table {
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}
.itemsContainer .table thead th {
  border: none;
  padding: 30px;
  font-weight: 500;
  color: gray;
}
.itemsContainer .table thead tr {
  background: #fff;
  border-bottom: 4px solid #eceffa;
}
.itemsContainer .table tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
}
.itemsContainer .table tbody tr:last-child {
  border-bottom: 0;
}
.itemsContainer .table tbody th, .itemsContainer .table tbody td {
  border: none;
  padding: 30px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
}
.itemsContainer .table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px;
}
.itemsContainer .table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
}
.itemsContainer .table tbody td.status .paid {
  background: #cff6dd;
  color: #1fa750;
}
.itemsContainer .table tbody td.status .paid:after {
  background: #23bd5a;
}
.itemsContainer .table tbody td.status .unpaid {
  background: #ff8080;
  color: maroon;
}
.itemsContainer .table tbody td.status .unpaid:after {
  background: #b30000;
}
.itemsContainer .table tbody td .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.itemsContainer .table tbody td .email span {
  display: block;
}
.itemsContainer .table tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -14px;
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark/indicator */
.checkbox-primary {
  color: #1fa750;
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: #1fa750;
}

/*# sourceMappingURL=styles.css.map */
