@import "~bootstrap/dist/css/bootstrap.css" ;
@import "./_variables.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  //background-color: $light !important;
  //min-height: calc(100% - 112px);
  background: rgba(47,49,92, 1);
  //background: linear-gradient(180deg, rgba(59,61,115,1) 0%, rgba(196,197,213,1) 50%, rgba(59,61,115,1) 100%);
}
app-root {
  background: rgb(47,49,92);
  background: linear-gradient(180deg, rgba(47,49,92,1) 0%, rgba(196,197,213,1) 50%, rgba(47,49,92,1) 100%);
}
app-admin {
  display: block;
  height: fit-content;
  min-height: calc(100% - 112px);
  background: rgb(47,49,92);
  background: linear-gradient(180deg, rgba(47,49,92,1) 0%, rgba(196,197,213,1) 50%, rgba(47,49,92,1) 100%);
}

app-parent {
  display: block;
  height: fit-content;
  min-height: calc(100% - 112px);
  background: rgb(47,49,92);
  background: linear-gradient(180deg, rgba(47,49,92,1) 0%, rgba(196,197,213,1) 50%, rgba(47,49,92,1) 100%);
}

$spacer: 1rem;

@media only screen and (min-width: 1200px) {
  .pt-lg-6 {
    padding-top: $spacer * 6 !important;
  }
}

.bg-dark {
  background-color: $purple !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-lighter {
  background-color: $light-medium !important;
}

.text-light {
  color: $text-light;
}

.text-dark {
  color: $text-dark;
}

html {
  background-color: $light;
}

.footer {
  position: static !important;
}

//.btn-primary {
//  background-color: $purple;
//  &:hover{
//    background-color: $purple-dark;
//  }
//}

.btn-primary {
  --bs-btn-color: #f19d38;
  --bs-btn-bg: #f19d38;
  --bs-btn-border-color: #f19d38;
  --bs-btn-hover-color: #f19d38;
  --bs-btn-hover-bg: #e6840b;
  --bs-btn-hover-border-color: #e6840b;
  //--bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #e6840b;
  --bs-btn-active-bg: #e6840b;
  --bs-btn-active-border-color: #e6840b;
  //--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f2a74c;
  --bs-btn-disabled-bg: #f2a74c;
  --bs-btn-disabled-border-color: #f2a74c;
}

.btn-accept {
  --bs-btn-color: #f19d38;
  --bs-btn-bg: #f19d38;
  --bs-btn-border-color: #f19d38;
  --bs-btn-hover-color: #f19d38;
  --bs-btn-hover-bg: #e6840b;
  --bs-btn-hover-border-color: #e6840b;
  //--bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #e6840b;
  --bs-btn-active-bg: #e6840b;
  --bs-btn-active-border-color: #e6840b;
  //--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f2a74c;
  --bs-btn-disabled-bg: #f2a74c;
  --bs-btn-disabled-border-color: #f2a74c;
}

.btn-cancel {
  --bs-btn-color: #f19d38;
  --bs-btn-bg: #f19d38;
  --bs-btn-border-color: #f19d38;
  --bs-btn-hover-color: #f19d38;
  --bs-btn-hover-bg: #e6840b;
  --bs-btn-hover-border-color: #e6840b;
  //--bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #e6840b;
  --bs-btn-active-bg: #e6840b;
  --bs-btn-active-border-color: #e6840b;
  //--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f5ba74;
  --bs-btn-disabled-bg: #f5ba74;
  --bs-btn-disabled-border-color: #f5ba74;
}

//.btn-secondary {
//  --bs-btn-color: #fff;
//  --bs-btn-bg: #6c757d;
//  --bs-btn-border-color: #6c757d;
//  --bs-btn-hover-color: #fff;
//  --bs-btn-hover-bg: #5c636a;
//  --bs-btn-hover-border-color: #565e64;
//  --bs-btn-focus-shadow-rgb: 130, 138, 145;
//  --bs-btn-active-color: #fff;
//  --bs-btn-active-bg: #565e64;
//  --bs-btn-active-border-color: #51585e;
//  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//  --bs-btn-disabled-color: #fff;
//  --bs-btn-disabled-bg: #6c757d;
//  --bs-btn-disabled-border-color: #6c757d;
//}

btn:focus, a:focus
{
  outline: none;
}
.form-control:focus, input:-internal-autofill-selected {
  color: $text-dark;
  background-color: #fff;
  border-color: $purple-light;
  outline: 0;
  box-shadow: 0 0 0 0.1rem $purple-light;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: $text-dark !important;
}

.itemsContainer {
  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }

  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  body {
    //font-size: 16px;
    //line-height: 1.8;
    //font-weight: normal;
    //background: #f8f9fd;
    //color: lighten($black, 50%);
  }

  a {
    transition: .3s all ease;

    &:hover, &:focus {
      color: $purple-dark;
    }
  }

  .ftco-section {
    padding: 7em 0;
  }

  .ftco-no-pt {
    padding-top: 0;
  }

  .ftco-no-pb {
    padding-bottom: 0;
  }

  .table {
    width: 100%;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);

    thead {
      th {
        border: none;
        padding: 30px;
        //font-size: 13px;
        font-weight: 500;
        color: $light-grey;
      }

      tr {
        background: $white;
        border-bottom: 4px solid darken($table-spacer-color, 3%);
      }
    }

    tbody {
      tr {
        margin-bottom: 10px;
        border-bottom: 4px solid $table-spacer-color;

        &:last-child {
          border-bottom: 0;
        }
      }

      th, td {
        border: none;
        padding: 30px;
        font-size: 14px;
        background: $white;
        vertical-align: middle;
      }

      td {
        &.status {
          span {
            position: relative;
            border-radius: 30px;
            padding: 4px 10px 4px 25px;

            &:after {
              position: absolute;
              top: 9px;
              left: 10px;
              width: 10px;
              height: 10px;
              content: '';
              border-radius: 50%;
            }
          }

          .paid {
            background: lighten($success, 25%);
            color: darken($success, 25%);

            &:after {
              background: darken($success, 20%);
            }
          }

          .unpaid {
            background: lighten($danger, 25%);
            color: darken($danger, 25%);

            &:after {
              background: darken($danger, 15%);
            }
          }
        }

        .img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .email {
          span {
            display: block;

            &:last-child {
              font-size: 12px;
              color: rgba(0, 0, 0, .3);
            }
          }
        }
      }
    }
  }
}

.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color:rgba(0,0,0,.1);
  font-size: 20px;
  margin-top: -14px;
  //@include transition(.3s);
}

/* Show the checkmark when checked */
.checkbox-wrap{
  input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0,0,0,.2);
  }
}

/* Style the checkmark/indicator */

.checkbox-primary{
  color: darken($success, 25%);
  input:checked ~ .checkmark:after {
    color: darken($success, 25%);
  }
}
