<div class="container pb-4">
  <div class="row justify-content-center">
    <h2 class="text-light heading-section mt-4">Listă cereri</h2>
  </div>

  <section class="mt-4 text-start text-light row mx-1">
    <div class="col-6 mb-3  d-flex justify-content-between">
      <div class="form-group mb-3">
        <label for="group" class="form-label ms-2">Grupă</label>
        <select id="group" class="form-control" (change)="handleGroupChange($event)">
          <option *ngFor="let group of groupList" [value]="group.id">{{group.name}} ({{group.groupType | groupType}})</option>
          <option value="-1" selected>Toate</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="type" class="form-label ms-2">Alege tipul cererii</label>
        <select id="type" class="form-control" (change)="handleTypeChange($event)">
          <option value="registration">Înregistrare</option>
          <option value="extension">Prelungire</option>
          <option selected value="all">Toate</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="status" class="form-label ms-2">Alege statusul cererii</label>
        <select id="status" class="form-control" (change)="handleStatusChange($event)">
          <option value="PENDING">Neprocesată</option>
          <option value="ONGOING">În procesare</option>
          <option value="APPROVED">Aprobată</option>
          <option value="REJECTED">Respinsă</option>
          <option selected value="all">Toate</option>
        </select>
      </div>
    </div>
  </section>

  <section class="container mb-4">
    <div class="itemsContainer text-dark row">
      <div class="col-md-12">
        <div class="table-wrap">
          <h5 *ngIf="registrationRequestList.getValue().length == 0 && extensionRequestList.getValue().length == 0" class="text-light">
            Nicio cerere disponibilă</h5>
          <table class=" table table-responsive-xl" *ngIf="registrationRequestList.getValue().length > 0 || extensionRequestList.getValue().length > 0">
            <thead>
            <tr>
              <th></th>
              <th>Nume copil</th>
              <th>Grupă</th>
              <th>Tipul cererii</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of registrationRequestList.getValue() " class="alert fw-semibold" role="alert">
              <td><img class="img" [src]="request.child.picturePath" alt="Child Picture"></td>
              <td class="">
                {{request.child.firstName + ' ' + request.child.lastName}}
              </td>
              <td>{{request.child.group.name}}</td>
              <td>Înregistrare</td>
              <td><span class="badge rounded-pill text-bg-primary" [ngClass]="getClassForBadge(request.status)">{{request.status | requestStatus}}</span></td>
              <td><a class="text-dark"
                     [routerLink]="['/admin/requests', request.id, {type: 'registration'}]" title="Editare">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </a></td>
            </tr>
            <tr *ngFor="let request of extensionRequestList.getValue()" class="alert fw-semibold" role="alert">
              <td><img class="img" [src]="request.child.picturePath" alt="Child Picture"></td>
              <td class="">
                {{request.child.firstName + ' ' + request.child.lastName}}
              </td>
              <td>{{request.child.group.name}}</td>
              <td>Prelungire</td>
              <td><span class="badge rounded-pill text-bg-primary" [ngClass]="getClassForBadge(request.status)">{{request.status | requestStatus}}</span></td>
              <td><a class="text-dark"
                     [routerLink]="['/admin/requests', request.id, {type: 'extension'}]" title="Editare">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>
